
## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

# Crystal Clock - use 32MHz onboard oscillator
NET "CLK" LOC = "P56" | IOSTANDARD = LVTTL | PERIOD = 31.25ns ;

NET "ADV_AP" LOC = "P105" | IOSTANDARD = LVTTL;
NET "ADV_SCLK" LOC = "P104" | IOSTANDARD = LVTTL;
NET "ADV_LRCLK" LOC = "P102" | IOSTANDARD = LVTTL;
NET "ADV_MCLK" LOC = "P101" | IOSTANDARD = LVTTL;

NET "ADV_SCL" LOC = "P100" | IOSTANDARD = LVCMOS33;
NET "ADV_SDA" LOC = "P99" | IOSTANDARD = LVCMOS33;
NET "ADV_INT1" LOC = "P98" | IOSTANDARD = LVCMOS33;
NET "ADV_RST" LOC = "P97" | IOSTANDARD = LVCMOS33;

NET "ADV_HS" LOC = "P112" | IOSTANDARD = LVTTL;
NET "ADV_VS" LOC = "P111" | IOSTANDARD = LVTTL;
NET "ADV_DE" LOC = "P114" | IOSTANDARD = LVTTL;
NET "ADV_LLC" LOC = "P126" | IOSTANDARD = LVCMOS33;

NET "ADV_P<0>" LOC = "P115" | IOSTANDARD = LVCMOS33;
NET "ADV_P<1>" LOC = "P116" | IOSTANDARD = LVCMOS33;
NET "ADV_P<2>" LOC = "P117" | IOSTANDARD = LVCMOS33;
NET "ADV_P<3>" LOC = "P118" | IOSTANDARD = LVCMOS33;
NET "ADV_P<4>" LOC = "P119" | IOSTANDARD = LVCMOS33;
NET "ADV_P<5>" LOC = "P120" | IOSTANDARD = LVCMOS33;
NET "ADV_P<6>" LOC = "P121" | IOSTANDARD = LVCMOS33;
NET "ADV_P<7>" LOC = "P123" | IOSTANDARD = LVCMOS33;
NET "ADV_P<8>" LOC = "P124" | IOSTANDARD = LVCMOS33;
NET "ADV_P<9>" LOC = "P127" | IOSTANDARD = LVCMOS33;
NET "ADV_P<10>" LOC = "P131" | IOSTANDARD = LVCMOS33;
NET "ADV_P<11>" LOC = "P132" | IOSTANDARD = LVCMOS33;
NET "ADV_P<12>" LOC = "P133" | IOSTANDARD = LVCMOS33;
NET "ADV_P<13>" LOC = "P134" | IOSTANDARD = LVCMOS33;
NET "ADV_P<14>" LOC = "P137" | IOSTANDARD = LVCMOS33;
NET "ADV_P<15>" LOC = "P138" | IOSTANDARD = LVCMOS33;
NET "ADV_P<16>" LOC = "P139" | IOSTANDARD = LVCMOS33;
NET "ADV_P<17>" LOC = "P140" | IOSTANDARD = LVCMOS33;
NET "ADV_P<18>" LOC = "P141" | IOSTANDARD = LVCMOS33;
NET "ADV_P<19>" LOC = "P142" | IOSTANDARD = LVCMOS33;
NET "ADV_P<20>" LOC = "P143" | IOSTANDARD = LVCMOS33;
NET "ADV_P<21>" LOC = "P144" | IOSTANDARD = LVCMOS33;
NET "ADV_P<22>" LOC = "P1" | IOSTANDARD = LVCMOS33;
NET "ADV_P<23>" LOC = "P2" | IOSTANDARD = LVCMOS33;

NET "LED_OUT<0>" LOC = "P10" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_OUT<1>" LOC = "P12" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_OUT<2>" LOC = "P15" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_OUT<3>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_OUT<4>" LOC = "P22" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_OUT<5>" LOC = "P24" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_OUT<6>" LOC = "P27" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_OUT<7>" LOC = "P30" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;

NET "LED_CLK<0>" LOC = "P9"  | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_CLK<1>" LOC = "P11" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_CLK<2>" LOC = "P14" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_CLK<3>" LOC = "P16" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_CLK<4>" LOC = "P21" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_CLK<5>" LOC = "P23" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_CLK<6>" LOC = "P26" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "LED_CLK<7>" LOC = "P29" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;

NET FLASH_CS LOC="P38"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET FLASH_CK LOC="P70"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET FLASH_SI LOC="P64"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET FLASH_SO LOC="P65"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;

NET "MCU_I2C_SCL" LOC = "P95" | IOSTANDARD = LVCMOS33;
NET "MCU_I2C_SDA" LOC = "P94" | IOSTANDARD = LVCMOS33;

NET "MCU_SPI_CLK" LOC = "P88" | IOSTANDARD = LVCMOS33;
NET "MCU_SPI_MISO" LOC = "P87" | IOSTANDARD = LVCMOS33;
NET "MCU_SPI_MOSI" LOC = "P85" | IOSTANDARD = LVCMOS33;
NET "MCU_SPI_CS" LOC = "P74" | IOSTANDARD = LVCMOS33;

NET "MCU_PD2" LOC = "P84";
NET "MCU_PB5" LOC = "P82";
NET "MCU_PB8" LOC = "P78";

NET "VIVEPOS_SENSOR<0>" LOC = "P83";
NET "VIVEPOS_SENSOR<1>" LOC = "P80";
NET "VIVEPOS_SENSOR<2>" LOC = "P75";
NET "VIVEPOS_SENSOR<3>" LOC = "P81";

NET "PAPIX_POS<0>" LOC = "P39";
NET "PAPIX_POS<1>" LOC = "P40";

NET "PAPIX_RGB<0>" LOC = "P34" | IOSTANDARD=LVCMOS33;
NET "PAPIX_RGB<1>" LOC = "P35" | IOSTANDARD=LVCMOS33;

NET "IN5V<0>" LOC = "P41";
NET "IN5V<1>" LOC = "P43";

NET "OUT5V<0>" LOC = "P32" | IOSTANDARD=LVCMOS33;
NET "OUT5V<1>" LOC = "P33" | IOSTANDARD=LVCMOS33;

NET "GPIO<0>" LOC = "P44" | IOSTANDARD = LVCMOS33;
NET "GPIO<1>" LOC = "P45" | IOSTANDARD = LVCMOS33;
NET "GPIO<2>" LOC = "P46" | IOSTANDARD = LVCMOS33;
NET "GPIO<3>" LOC = "P47" | IOSTANDARD = LVCMOS33;
NET "GPIO<4>" LOC = "P48" | IOSTANDARD = LVCMOS33;
NET "GPIO<5>" LOC = "P50" | IOSTANDARD = LVCMOS33;
NET "GPIO<6>" LOC = "P51" | IOSTANDARD = LVCMOS33;
NET "GPIO<7>" LOC = "P55" | IOSTANDARD = LVCMOS33;

NET "ROUTE_UNDER<0>" LOC = "P5";  // VIVEPOS_SENSOR0
NET "ROUTE_UNDER<1>" LOC = "P7";  // VIVEPOS_SENSOR1
NET "ROUTE_UNDER<2>" LOC = "P8";  // VIVEPOS_SENSOR2
NET "ROUTE_UNDER<3>" LOC = "P6";  // VIVEPOS_SENSOR3
NET "ROUTE_UNDER<4>" LOC = "P93"; // JTAG_TDO
NET "ROUTE_UNDER<5>" LOC = "P92"; // JTAG_TCK


NET "ADV_LLC" TNM_NET = "ADV_LLC";
TIMESPEC "TS_ADV_LLC" = PERIOD "ADV_LLC" 6 ns HIGH 50%;
NET "ADV_P<0>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<1>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<2>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<3>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<4>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<5>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<6>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<7>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<8>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<9>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<10>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<11>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<12>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<13>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<14>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<15>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<16>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<17>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<18>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<19>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<20>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<21>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<22>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;
NET "ADV_P<23>" OFFSET = IN 2.7 ns VALID 3.5 ns BEFORE "ADV_LLC" RISING;

NET "ambilight/hscale4/COUNT(0)" TNM_NET = "MC_GRP_FFS";
TIMESPEC "TS_MC_GRP_FFS" = FROM "MC_GRP_FFS" TO "MC_GRP_FFS" TS_ADV_LLC*2;
#NET "ambilight/hscale4/COUNT(0)" TNM_NET = RAMS "MC_GRP_RAMS";
#TIMESPEC "TS_MC_GRP_RAMS" = FROM "MC_GRP_RAMS" TO "MC_GRP_RAMS" TS_ADV_LLC*2;

